[ ca ]
default_ca  = CA_default

[ CA_default ]
dir = .
certs = $dir/certs
crl_dir = $dir/crl
database = $dir/index.txt
unique_subject = yes
new_certs_dir = $dir/newcerts
certificate = $dir/certs/myca.crt
serial = $dir/serial
crl = $dir/crl.pem
private_key = $dir/private/myca.key
x509_extensions = usr_cert
default_days = 397
default_crl_days = 30
default_md = sha256
preserve = no
policy = policy_optional

[ policy_optional ]
countryName   = optional
stateOrProvinceName = optional
organizationName  = optional
organizationalUnitName  = optional
commonName = supplied
emailAddress = optional

[ usr_cert ]
basicConstraints=CA:FALSE
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

[ req ]
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
